<footer class="bg-secondary text-on-secondary">
    <div class="cont">
        <div class="grid grid-cols-3">
            <div>
                <h4>Contact Us</h4>
                <ul>
                    <li>
                        <a href=""> it.admin@tigerapps.org </a>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Other Campus Resources</h4>
                <ul>
                    <li>
                        <a href=""> TigerHub </a>
                    </li>
                    <li>
                        <a href=""> Print Queue </a>
                    </li>
                    <li>
                        <a href=""> TigerCard </a>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Submit an App</h4>
                <ul>
                    <li>
                        <a href=""> Apply Now </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-sm text-center">
            <p>Copyright © USG TigerApps 2021</p><p>
                Icons made by
                <a
                    target="_blank"
                    href="https://www.flaticon.com/authors/smashicons"
                    title="Smashicons">Smashicons</a
                >,
                <a
                    target="_blank"
                    href="https://www.flaticon.com/authors/eucalyp"
                    title="Eucalyp">Eucalyp</a
                >, and
                <a
                    target="_blank"
                    href="https://www.freepik.com"
                    title="Freepik">Freepik</a
                >
                from
                <a
                    target="_blank"
                    href="https://www.flaticon.com/"
                    title="Flaticon">www.flaticon.com</a
                >
            </p>
        </div>
    </div>
</footer>
