---
import {
    aiAssistApps,
    coursePlanningApps,
    games,
    campusLifeApps,
    roomDrawApps
} from "../../utils/apps";
import AppCard from "./ui/AppCard.astro";

const apps = [
    aiAssistApps,
    coursePlanningApps,
    games,
    campusLifeApps,
    roomDrawApps
];
---

<section id="apps" class="py-16">
    <div class="cont space-y-12">
        {
            apps.map(appSection => (
                <article class="text-center constrained">
                    <h3 class="mb-2">{appSection.title}</h3>
                    <p class="text-lg">{appSection.description}</p>
                    <div class="border-b-4 w-32 border-secondary mt-4 mb-8 rounded-full mx-auto" />
                    <div class="app-grid">
                        {appSection.apps.map(card => (
                            <AppCard {...card} />
                        ))}
                    </div>
                </article>
            ))
        }

        <p class="text-lg text-center">
            You can check out some of our older apps in the
            <a class="text-secondary underline" href="/archive"> Archive</a>.
        </p>
    </div>
</section>
