---
import Image from "astro/components/Image.astro";
import Apply1 from "../../assets/icons/apply-crit1.svg";
import Apply2 from "../../assets/icons/apply-crit2.svg";
import Apply3 from "../../assets/icons/apply-crit3.svg";
---

<section id="develop" class="py-16 bg-primary text-on-primary">
    <div class="cont text-center">
        <div class="space-y-2">
            <h3>DEVELOP</h3>
            <p class="text-lg">Interested in creating the next TigerApp?</p>
        </div>
        <div class="border-b-4 w-32 border-secondary rounded-full my-4 mx-auto">
        </div>
        <div class="space-y-2 text-base">
            <p>
                TigerApps is a student-run organization that maintains and
                supports student-developed web applications. We cover all
                technological costs associated with the apps and advertise them
                on our homepage.
            </p>
            <p>
                There are 3 criteria for your app to become part of TigerApps.
            </p>
        </div>

        <div class="md:flex md:items-start md:justify-center gap-4 my-8">
            <div class="apply-step">
                <Image
                    src={Apply1}
                    alt="1st Decorational icon for applying to TigerApps"
                    class="apply-img"
                />
                <p>
                    Relates to student life on campus or supports a non-profit
                    organization
                </p>
            </div>
            <div class="apply-step">
                <Image
                    src={Apply2}
                    alt="2nd Decorational icon for applying to TigerApps"
                    class="apply-img"
                />
                <p>Fully functional, no known bugs, and open source</p>
            </div>
            <div class="apply-step">
                <Image
                    src={Apply3}
                    alt="3rd Decorational icon for applying to TigerApps"
                    class="apply-img"
                />
                <p>Built using modern frameworks and programming languages</p>
            </div>
        </div>

        <div class="space-y-4">
            <div>
                <p>
                    Unsure where to start? Check out some Princeton data sources
                    to start building your app.
                </p>
                <a class="link-button" href="/resources"> View Data Sources </a>
            </div>
            <div>
                <p>
                    Once your app is ready to launch, apply to become a
                    TigerApp.
                </p>
                <a
                    class="link-button"
                    href="https://tinyurl.com/TigerAppsSubmission">
                    Submit an App</a
                >
            </div>
        </div>
    </div>
</section>

<style lang="postcss">
    .link-button {
        @apply bg-secondary text-on-secondary rounded-lg mt-1 inline-block
        duration-150 ease-in-out py-2 px-12;
    }

    .link-button:hover {
        @apply bg-secondary-hover;
    }

    .apply-img {
        @apply w-36 h-36 md:w-48 md:h-48 mx-auto;
    }
</style>
