---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/page/Footer.astro";
import AppCard from "../components/landing/ui/AppCard.astro";
import HeaderShell from "../components/HeaderShell.astro";
import WhiteLogo from "../assets/icons/logo_white.png";
import Image from "astro/components/Image.astro";

import { archiveApps } from "../utils/apps";
---

<head>
    <title>TigerApps - Archive</title>
</head>

<Layout>
    <HeaderShell>
        <a href="/" class="flex items-center gap-2">
            <Image
                src={WhiteLogo}
                alt="TigerApps Logo"
                class="h-8 w-8 object-contain"
            />
            <h1 class="text-2xl font-semibold">
                <span class="text-tigerapps-orange">Tiger</span><span
                    class="text-white">Apps</span
                >
            </h1>
        </a>
        <nav class="flex items-center text-lg gap-12">
            <a href="/"> Home</a>
            <a href="/archive"> Archive </a>
            <a href="/resources"> Resources</a>
        </nav>
    </HeaderShell>
    <div class="cont text-center">
        <div class="space-y-2 pt-32">
            <h3>Archive</h3>
            <p class="text-xl">Apps that we are no longer maintaining.</p>
        </div>
        <div class="border-b-4 w-32 border-secondary rounded-full my-8 mx-auto">
        </div>
        <main class="app-grid pb-16">
            {archiveApps.apps.map(card => <AppCard {...card} />)}
        </main>
    </div>
    <Footer />
</Layout>
