---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/page/Footer.astro";
import AppCard from "../components/landing/ui/AppCard.astro";

// App (Archive) Images
import Food4UImage from "../assets/archive/food4u.webp";
import MealMatchImage from "../assets/archive/mealmatch.webp";
import RebookImage from "../assets/archive/rebook.webp";
import RecalImage from "../assets/archive/recal.webp";
import ResearchImage from "../assets/archive/research.webp";
import RoomsImage from "../assets/archive/rooms.webp";
import SpaceTigerImage from "../assets/archive/spacetiger.webp";
import TigerFitImage from "../assets/archive/tigerfit.webp";
import TigerJobsImage from "../assets/archive/tigerjobs.webp";
import TigerMapImage from "../assets/archive/tigermap.webp";
import TigerMenusImage from "../assets/archive/tigermenus.webp";
import TigerThriftImage from "../assets/archive/tigerthrift.webp";
import TigerTicketsImage from "../assets/archive/tigertickets.webp";
import TigerToolsImage from "../assets/archive/tigertools.webp";
import HeaderShell from "../components/HeaderShell.astro";

const ARCHIVE_CARDS = [
    {
        title: "Food4U",
        description:
            "Locate and share free food easily with a visual campus map marking free food events, email notifications, and more. By Daphne Barretto '23, Aaron Buck '23, and Ben Chan '23.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/food4u",
        repoLink: "https://github.com/TigerAppsOrg/food4u",
        screenshot: Food4UImage,
        alt: "Food 4 U app screenshot"
    },
    {
        title: "MealMatch",
        description:
            "Find new people to meet and eat with in dining halls who want to eat at the same time and place as you. Receive real-time text notifications upon finding a match along with your match's profile and contact information. By Adam Kelch '24, Ameya Vaidya '24, Jeremy Dapaah'24, and Rajiv Swamy '24.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/MealMatch",
        repoLink: "https://github.com/TigerAppsOrg/MealMatch",
        screenshot: MealMatchImage,
        alt: "Meal Match app screenshot"
    },
    {
        title: "ReBook",
        description:
            "Textbook marketplace for Princeton students. By Sophie Li '23, Jayson Wu '23, and Connie Xu '23.",
        note: "Replacement: TigerRetail",
        webLink: "https://github.com/TigerAppsOrg/rebook",
        repoLink: "https://github.com/TigerAppsOrg/rebook",
        screenshot: RebookImage,
        alt: "Re-Book app screenshot"
    },
    {
        title: "Recal",
        description:
            "Plan the perfect course schedule and automatically sync with your Google Calendar. By Naphat Sanguansin '16, Dyland Xue '16, and Maxim Zaslavsky '17.",
        note: "Replacement: TigerJunction",
        webLink: "https://github.com/TigerAppsOrg/ReCal",
        repoLink: "https://github.com/TigerAppsOrg/ReCal",
        screenshot: RecalImage,
        alt: "ReCal app screenshot"
    },
    {
        title: "TigerResearch",
        description:
            "Search for available Princeton professors within your field of interest, for independent work, thesis, or other research. By Eric Ahn '24, Vivek Kolli '24, and Alex Zhang '24.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/TigerResearch",
        repoLink: "https://github.com/TigerAppsOrg/TigerResearch",
        screenshot: ResearchImage,
        alt: "Tiger Research app screenshot"
    },
    {
        title: "TigerRooms",
        description:
            "Search rooms, reviews, and floor plans. By Ben Parks '17.",
        note: "Replacement: TigerDraw",
        webLink: "https://github.com/TigerAppsOrg/rooms-app",
        repoLink: "https://github.com/TigerAppsOrg/rooms-app",
        screenshot: RoomsImage,
        alt: "Tiger Rooms app screenshot"
    },
    {
        title: "SpaceTiger",
        description:
            "Search for and review spots on campus, whether it be for studying, partying, rehearsing, or just hanging out. By Tyler Benson '24, Eva Vesely '24, Giao Vu Dinh '24, Chenhan Zhang '24, Thanya Begum '23.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/SpaceTiger",
        repoLink: "https://github.com/TigerAppsOrg/SpaceTiger",
        screenshot: SpaceTigerImage,
        alt: "Space Tiger app screenshot"
    },
    {
        title: "TigerFit",
        description:
            "Track workouts, visualize progress, and get recommendations for weights/repetitions based on your workout history. By Ian Murray '23, Adam Gamba '23, Kevin Castro '23, Darren Zheng '23.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/TigerFit",
        repoLink: "https://github.com/TigerAppsOrg/TigerFit",
        screenshot: TigerFitImage,
        alt: "Tiger Fit app screenshot"
    },
    {
        title: "TigerJobs",
        description:
            "Leave a review and find what you need to land your next interview or job from peers. By Arnav Kumar '24 and Ambri Ma '24.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/TigerJobs",
        repoLink: "https://github.com/TigerAppsOrg/TigerJobs",
        screenshot: TigerJobsImage,
        alt: "Tiger Jobs app screenshot"
    },
    {
        title: "TigerMap",
        description:
            "A course exploration app that allows students to discover what classes to take next. Create and share course tracks with others. By Leo Stepanewk '25, Aaliyah Sayed '25, and Bill Ao '24.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/TigerMap",
        repoLink: "https://github.com/TigerAppsOrg/TigerMap",
        screenshot: TigerMapImage,
        alt: "Tiger Map app screenshot"
    },
    {
        title: "TigerThrift",
        description:
            "Sell clothing or shop fellow Tigers' closets. Katie Chou '23, Katelyn Rodrigues '23, Iroha Shirai '23.",
        note: "Replacement: TigerRetail",
        webLink: "https://github.com/TigerAppsOrg/TigerThrift",
        repoLink: "https://github.com/TigerAppsOrg/TigerThrift",
        screenshot: TigerThriftImage,
        alt: "Tiger Thrift app screenshot"
    },
    {
        title: "TigerTickets",
        description:
            "Secondary marketplace to buy/re-sell/exchange tickets. By Jenny Sheng '22, Joseph Chen '22, and Sunny Yoo '22.",
        note: "Replacement: TigerRetail",
        webLink: "https://github.com/TigerAppsOrg/TigerTickets",
        repoLink: "https://github.com/TigerAppsOrg/TigerTickets",
        screenshot: TigerTicketsImage,
        alt: "Tiger Tickets app screenshot"
    },
    {
        title: "TigerTools",
        description:
            "Find amenities using a map of campus and provide feedback on them. By Indu Panigrahi '23, Raymond Liu '23, and Adam Rebei '23.",
        note: "",
        webLink: "https://github.com/TigerAppsOrg/TigerTools",
        repoLink: "https://github.com/TigerAppsOrg/TigerTools",
        screenshot: TigerToolsImage,
        alt: "Tiger Tools app screenshot"
    }
];
---

<head>
    <title>TigerApps - Archive</title>
</head>

<Layout>
    <HeaderShell>
        <button
            onclick="document.getElementById('top').scrollIntoView({ behavior: 'smooth' })">
            <h1 class="text-2xl font-semibold">TIGERAPPS</h1>
        </button>
        <nav class="flex items-center text-lg gap-12">
            <a href="/"> Home</a>
            <a href="/archive"> Archive </a>
            <a href="/resources"> Resources</a>
        </nav>
    </HeaderShell>
    <div class="cont text-center">
        <div class="space-y-2 pt-32">
            <h3>Archive</h3>
            <p class="text-xl">Apps that we are no longer maintaining.</p>
        </div>
        <div class="border-b-4 w-32 border-secondary rounded-full my-8 mx-auto">
        </div>
        <main class="app-grid">
            {ARCHIVE_CARDS.map(card => <AppCard {...card} />)}
        </main>
    </div>
    <Footer />
</Layout>
