---
import AppCard from "./AppCard.astro";
import type { AppProps } from "../../../utils/types";

interface Props {
    title: string;
    description: string;
    cards: AppProps[];
}

const { title, description, cards } = Astro.props;
---

<article class="text-center constrained">
    <h3 class="mb-2">
        {title}
    </h3>
    <p class="text-lg">
        {description}
    </p>
    <div
        class="border-b-4 w-32 border-secondary mt-4 mb-8 rounded-full mx-auto">
    </div>
    <div class="app-grid">
        {cards.map(card => <AppCard {...card} />)}
    </div>
</article>
