<header
    class="bg-secondary text-on-secondary h-16 fixed z-50
    top-0 w-full flex items-center justify-center">
    <div class="cont flex items-center justify-between">
        <slot />
    </div>
</header>
