<header
    class="bg-cream/90 backdrop-blur-md text-charcoal h-16 fixed z-50
    top-0 w-full flex items-center justify-center border-b border-peach-dark/20">
    <div class="cont flex items-center justify-between">
        <slot />
    </div>
</header>
