---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/page/Footer.astro";
import AppCard from "../components/AppCard.astro";

// App (Archive) Images
import Food4UImage from "../assets/archive/food4u.png";
import MealMatchImage from "../assets/archive/mealmatch.png";
import RebookImage from "../assets/archive/rebook.png";
import RecalImage from "../assets/archive/recal.png";
import ResearchImage from "../assets/archive/research.png";
import RoomsImage from "../assets/archive/rooms.png";
import SpaceTigerImage from "../assets/archive/spacetiger.png";
import TigerFitImage from "../assets/archive/tigerfit.png";
import TigerJobsImage from "../assets/archive/tigerjobs.png";
import TigerMapImage from "../assets/archive/tigermap.png";
import TigerMenusImage from "../assets/archive/tigermenus.png";
import TigerThriftImage from "../assets/archive/tigerthrift.png";
import TigerTicketsImage from "../assets/archive/tigertickets.png";
import TigerToolsImage from "../assets/archive/tigertools.png";

const ARCHIVE_CARDS = [
    {
        title: "Food4U",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: Food4UImage
    },
    {
        title: "MealMatch",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: MealMatchImage
    },
    {
        title: "ReBook",
        description: "",
        note: "Replacement: TigerRetail",
        webLink: "",
        repoLink: "",
        screenshot: RebookImage
    },
    {
        title: "Recal",
        description: "",
        note: "Replacement: TigerJunction",
        webLink: "",
        repoLink: "",
        screenshot: RecalImage
    },
    {
        title: "TigerResearch",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: ResearchImage
    },
    {
        title: "TigerRooms",
        description: "",
        note: "Replacement: TigerDraw",
        webLink: "",
        repoLink: "",
        screenshot: RoomsImage
    },
    {
        title: "SpaceTiger",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: SpaceTigerImage
    },
    {
        title: "TigerFit",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: TigerFitImage
    },
    {
        title: "TigerJobs",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: TigerJobsImage
    },
    {
        title: "TigerMap",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: TigerMapImage
    },
    {
        title: "TigerMenus",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: TigerMenusImage
    },
    {
        title: "TigerThrift",
        description: "",
        note: "Replacement: TigerRetail",
        webLink: "",
        repoLink: "",
        screenshot: TigerThriftImage
    },
    {
        title: "TigerTickets",
        description: "",
        note: "Replacement: TigerRetail",
        webLink: "",
        repoLink: "",
        screenshot: TigerTicketsImage
    },
    {
        title: "TigerTools",
        description: "",
        note: "",
        webLink: "",
        repoLink: "",
        screenshot: TigerToolsImage
    }
];
---

<Layout>
    <div class="cont">
        <div>
            <h1>Archive</h1>
            <p>Apps that we are no longer maintaining.</p>
        </div>
        <main></main>
    </div>
    <Footer />
</Layout>
