---
import MemberCard from "../components/MemberCard.astro";

import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/headers/LandingHeader.astro";

import logo from "../assets/icons/logo.png";

// Member Images
import JoshuaHeadshot from "../assets/members/joshua.png";
import Image from "astro/components/Image.astro";
---

<Layout>
    <LandingHeader />
    <section id="hero" class="bg-secondary text-on-secondary pt-32 pb-16">
        <div class="cont text-center">
            <div class="flex flex-col items-center w-80 mx-auto gap-8">
                <Image src={logo} alt="TigerApps logo" loading="eager" />
                <h2 class="uppercase font-bold text-3xl">
                    For Students, <br /> By Students
                </h2>
            </div>
            <div
                class="border-b-4 w-32 border-on-secondary rounded-full
            my-8 mx-auto">
            </div>
            <div class="text-lg space-y-4">
                <p>
                    We build apps and support developers on campus.
                    Student-built, student-maintained apps built over the years,
                    designed to improve your campus experience.
                </p>
                <p>
                    TigerApps is fully funded by Princeton's Undergraduate
                    Student Government.
                </p>
            </div>
        </div>
    </section>
    <section id="apps" class="py-16">
        <div class="cont"></div>
    </section>
    <section id="develop" class="py-16">
        <div class="cont"></div>
    </section>
    <section id="about" class="py-16">
        <div class="cont"></div>
    </section>
</Layout>
