---
import MemberCard from "../components/MemberCard.astro";

import JoshuaHeadshot from "../assets/members/joshua.png";
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/headers/LandingHeader.astro";
---

<Layout>
    <LandingHeader />
    <section id="hero">
        
    </section>
    <section id="apps">

    </section>
    <section id="develop">

    </section>
    <section id="about">

    </section>
</Layout>
