---
import "@fontsource-variable/rubik";
import { AstroSeo } from "@astrolib/seo";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <AstroSeo
            title="TigerApps - Apps for Princeton Students"
            description="TigerApps is a student-run organization that builds and maintains student-developed web applications used by over 90% of students at Princeton University."
            canonical="https://tigerapps.org"
            openGraph={{
                url: "https://tigerapps.org",
                title: "TigerApps - Apps for Princeton Students",
                site_name: "TigerApps Homepage",
                description:
                    "TigerApps is a student-run organization that builds and maintains student-developed web applications used by over 90% of students at Princeton University.",
                images: [
                    {
                        url: "https://tigerapps.org/og-image.png",
                        width: 1200,
                        height: 630,
                        alt: "TigerApps - Apps for Princeton Students"
                    }
                ]
            }}
        />
    </head>
    <body id="top">
        <slot />
    </body>
</html>

<style is:global lang="postcss">
    body {
        font-family: 'Rubik Variable', sans-serif;
    }

    section {
        scroll-margin: 4rem;
    }

    h2 {
        @apply text-secondary text-5xl font-semibold uppercase;
    }

    h3 {
        @apply text-secondary text-4xl font-semibold uppercase;
    }

    h4 {
        @apply text-secondary font-semibold text-xl;
    }

    h5 {
        @apply text-secondary font-semibold text-lg;
    }

    .cont {
        @apply max-w-7xl mx-auto px-4 md:px-8 lg:px-12 w-full;
    }

    .constrained {
        @apply w-5/6 mx-auto max-w-5xl;
    }


    .link-button {
        @apply bg-secondary text-on-secondary rounded-lg p-2;
    }
</style>
