---
// Member Images
import JoshuaHeadshot from "../assets/members/joshua.webp";
import LeoHeadshot from "../assets/members/leo.webp";
import HangHeadshot from "../assets/members/hang.webp";
import MemberCard from "./MemberCard.astro";

type Member = {
    name: string;
    title: string;
    position: string | null;
    website: string | null;
    github: string | null;
    headshot: ImageMetadata;
};

const currentMembers: Member[] = [
    {
        name: "Joshua Lau '26",
        title: "Senior Developer",
        position: "Co-President",
        website: "https://motoaki.dev",
        github: "https://github.com/joshuamotoaki",
        headshot: JoshuaHeadshot
    },
    {
        name: "Leo Stepanewk '25",
        title: "Senior Developer",
        position: "Co-President",
        website: "",
        github: "https://github.com/leo-step",
        headshot: LeoHeadshot
    },
    {
        name: "Hang Pham '26",
        title: "Senior Developer",
        position: "Treasurer",
        website: "",
        github: "https://github.com/thanhhang1306",
        headshot: HangHeadshot
    }
];

const pastMembers: string[] = [
    "Shivam Kak '26",
    "Mark Rubin '26",
    "Aaliyah Sayed '25",
    "Youngseo Lee '25",
    "Adam Kelch '24",
    "Daniel Park '24",
    "Taylor Yamashita '24",
    "Benjamin Chan '23",
    "Adam Gamba '23",
    "Shannon Heh '23",
    "Nicholas Padmanabhan '23",
    "Charles An '22",
    "Ayo Oguntola '23",
    "Emre Cakir '21",
    "Reilly Bova '20",
    "Rushy Panchal '19",
    "Ben Parks '17",
    "Maxim Zaslavsky '17"
];
---

<section id="about" class="py-16">
    <div class="cont text-center">
        <div class="space-y-2">
            <h3>ABOUT US</h3>
            <p class="text-lg">Meet the TigerApps team!</p>
        </div>
        <div class="border-b-4 w-32 border-secondary rounded-full my-4 mx-auto">
        </div>

        <article>
            <h4 class="mb-4">Current Members</h4>
            <div
                class="grid justify-center gap-4 md:grid-cols-2 lg:grid-cols-3 constrained">
                {currentMembers.map(member => <MemberCard {...member} />)}
            </div>
        </article>
        <article>
            <h4 class="mb-4">Past Members</h4>
            <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-2 constrained">
                {pastMembers.map(member => <li>{member}</li>)}
            </ul>
        </article>
    </div>
</section>
